body{
    background-color: rgb(0, 0, 0);
    color: blue;
}
.part2
{
background-color: black;
color: aquamarine;
}
.mywar
{
    background-color: brown;
    color: aqua;
    position: middle;
}
.kas{
 color: black;
    background-color: aliceblue;
}
.naruto
{
    background-color: blueviolet;
    color: aqua;
}
.onepiece
{
    background:url("depressed-bird-under-rain-4hmtfytrs3ffqa0t.jpg");
}
.table
{
    background-color: aqua;
    color: goldenrod;
}
tr
{
    color: rgb(255, 127, 127);
}
